<div>
  <h2>Wallet Transaction</h2>
  <p>
    Price: ${{amount}} USD
  </p>

  <button (click)="displayQrCode = !displayQrCode">toggle qrcode {{displayQrCode}}</button>
  <ngxweb3-payment-btn
      to="3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"
      display-error="true"
      [attr.display-qrcode]="displayQrCode"
      [attr.symbol]="'BTC'"
      [attr.amount]="amount"></ngxweb3-payment-btn>
  
  <!-- <ngxweb3-payment-btn
      chainid="61"
      to="0x..."
      display-error="true"
      display-qrcode="true"
      [attr.symbol]="symbol"
      [attr.amount]="amount"></ngxweb3-payment-btn> -->
</div>


<!-- <div>
  <h2>IPFS Storage</h2>
  <input #inputElement hidden="true" multiple="true" title="file" type="file" id="file" (change)="storeFile(inputElement)"/>
  <button type="button" (click)="inputElement.click()">select files</button>
  <span *ngIf="storageResult"> CID result: {{storageResult}}</span>
  <hr/>
  <input #inputSearch type="text" title="search" placeholder="search with CID" /> 
  <button #searchFileEl type="button" (click)="findFile(inputSearch)">search</button>
  <ng-container *ngIf="findResult">
    <h3>Found file:</h3>
    <ng-container *ngFor="let file of findResult">
      <p>url: <a href="{{file.ipfsFileNamePath}}" target="_blank">{{file.ipfsFileNamePath}}</a></p>
      <img [src]="file.ipfsFileNamePath" alt="demo" />
    </ng-container>
  </ng-container>
</div> -->

<div>
  <h2>@ngx-web3/ui-upload-btn</h2>
  <p>
    Store files using IPFS protocole and Filecoin blockain
  </p>
  <ngxweb3-upload-btn 
      [attr.token]="web3StorageToken"
      provider="filcoin">
    upload files
  </ngxweb3-upload-btn>
</div>

<div>
  <h2>@ngx-web3/ui-login-btn</h2>
  <p>
    Authenticate user using Web3 provider
  </p>
  <ngxweb3-login-btn [attr.projectid]="wallectConnectProjectId"></ngxweb3-login-btn>
</div>
