<div>
  <h2>Wallet Transaction</h2>
  <p>
    Price: ${{amount}} USD
  </p>

  <button (click)="displayQrCode = !displayQrCode">toggle qrcode {{displayQrCode}}</button>
  <ngxweb3-payment-btn
      to="3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"
      display-error="true"
      [attr.display-qrcode]="displayQrCode"
      [attr.symbol]="'DOT'"
      [attr.amount]="amount"></ngxweb3-payment-btn>
  
  <!-- <ngxweb3-payment-btn
      chainid="61"
      to="0x..."
      display-error="true"
      display-qrcode="true"
      [attr.symbol]="symbol"
      [attr.amount]="amount"></ngxweb3-payment-btn> -->
</div>


<div>
  <h2>IPFS Storage</h2>
  <input #inputElement hidden="true" multiple="true" title="file" type="file" id="file" (change)="storeFile(inputElement)"/>
  <button type="button" (click)="inputElement.click()">select files</button>
  <hr/>
  <input #inputSearch type="text" title="search" placeholder="search with CID" /> 
  <button type="button" (click)="findFile(inputSearch.value)">search</button>
</div>

